<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9630931605-742ja2vce3460g6u1peq8i8m7pcnelp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9630931605-742ja2vce3460g6u1peq8i8m7pcnelp4</string>
	<key>API_KEY</key>
	<string>AIzaSyDLaEmK-wsQfXsq8Ze42gNo0RFNWZbicGE</string>
	<key>GCM_SENDER_ID</key>
	<string>9630931605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpl.igls</string>
	<key>PROJECT_ID</key>
	<string>igls-82ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>igls-82ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9630931605:ios:6e3fb93444ea36d994199c</string>
	<key>DATABASE_URL</key>
	<string>https://igls-82ca6.firebaseio.com</string>
</dict>
</plist>